<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tareas</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/tasksScreen.css" media=screen>
        <link rel="icon" href="/img/favicon.webp"> 
    </head>
    <body>
        <div class="encabezado">
            <div>
                <img class="logo" src="/img/Logo.jpg" alt="Logo de la página">
            </div>
        </div>
        
        <div class="app">
            
            <form action="/login" class="login" method="POST">
                <div class="bloque">
                    <label>Correo</label>
                    <input type="text" id="email" name="email" />
                </div>
                <div class="bloque">
                    <label>Password</label>
                    <input type="text" id="password" name="password" />
                </div>
                <input type="submit" class="loginB" value="login">
            </form>
            <% if(errorMsg != null) {%>
                <div class="error">
                    <h2><%= errorMsg %></h2>
                </div>
            <% } %>

        </div>
    </body>
</html>