<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/AllQuestions.css" />
        <title>404</title>
    </head>

    <body>
       <%- include("Encabezado") %>
        <h2>Todas las Preguntas</h2>
        <%- include("questionPanel", {preguntasL: preguntasL}) %>

    </body>

</html>