<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/Home.css" />
        <title>404</title>
    </head>

    <body>
        <%- include("Encabezado") %>
    </body>

</html>