<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/SignUp.css" />
        <title>404</title>
    </head>

    <body>
        <div class="encabezado">
            <h1>404</h1>
        </div>
        <div class="formulario">
            <form action="/signUp" class="formulario" method="POST">
                <!--correo-->
                <div class="user">
                    <div class="cabecera"><label>Correo *</label></div>  
                    <div>
                        <input type="email" class="datos" id="email" name="email" 
                        pattern="^[a-zA-Z0-9_]*$+@[4][0][4][.][eE][sS]" required>
                    </div>                      
                </div>
                <!--contraseña-->
                <div class="user">
                    <div class="cabecera"><label>Contraseña *</label></div>   
                    <div class="datos"><input type="password" class="datos" id="password" name="password" 
                        pattern="^[a-zA-Z0-9_]*$" required></div> 
                </div>
                <!--repetir contraseña-->
                <div class="user">
                    <div class="cabecera"><label>Confirmar Contraseña *</label></div>  
                    <div class="datos"><input type="password" class="datos" id="password" name="passwordC" 
                        pattern="^[a-zA-Z0-9_]*$" required></div>                      
                </div>
                <!--nombre usuario-->
                <div class="user">
                    <div class="cabecera"><label>Nombre para mostrar *</label></div>   
                    <div class="datos"><input type="name" class="datos" id="nade" name="name" 
                        pattern="^[a-zA-Z0-9_]*$" required></div> 
                </div>
                <!--selector imagen-->
                <div class="user">
                    <div class="cabecera"><label>Imagen de perfil</label></div>
                    <div class="selector"><input type="file" class="datos" id="image" name="image"></div>
                </div>
                <!--botones-->
                <% if(errorMsg) { %>
                    <label class="error"><%= errorMsg %></label>
                <% } %>
                <input type="submit" class="boton registro" value="Crear Cuenta">  
            </form>
            <a href="/login"><button class="boton inicio">Iniciar Sesión</button></a>
        </div>  
    </body>
</html>