<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/Users.css" />
        <title>404</title>
    </head>

    <body>
        <%- include("Encabezado") %>
        <h2>Usuarios</h2>
        <%- include("userPanel", {usuarios: usuarios}) %>
        
    </body>
</html>